@import '/variables.scss';

html,
body {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
  font-size: $font-size-base;
}

*,
::before,
::after {
  box-sizing: inherit;
}

*:focus {
  outline: 0;
}

body {
  background: $red;
  color: ivory;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

header,
main {
}

nav {
  display: flex;
  justify-content: space-around;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: $font-fancy;
  text-align: center;

  &.fancy {
    text-shadow: 6px 10px 0px $red-lighter;
  }
}

h1 {
  font-size: 40px;
}

a {
  color: $white;
  text-decoration: none;
}

label {
  display: block;
  margin: 1rem 0 .5rem;
}

input,
select,
textarea {
  border: 0;
  border-radius: .25rem;
  color: $red;
  font-family: inherit;
  padding: 1rem;
  width: 100%;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 90%;
  max-width: 780px;
  margin: 0 auto;
}

main {
  height: 100%;
}

section {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
}

.text-center {
  text-align: center;
}

.margin-top {
  margin-top: 5%;
}

.fadeIn-appear {
  margin-bottom: 50px;
  opacity: 0;
}

.fadeIn-appear.fadeIn-appear-active {
  opacity: 1;
  margin-bottom: 0;
  transition: opacity .5s ease-in;
  transition: margin-bottom .2s;
}
