// colors

$red: indianred;
$red-lighter: #F85659;

$green: #48c769;
$green-dark: darken(#48c769, 5);
$green-darker: darken(#48c769, 10);
$green-light: lighten(#48c769, 5);

$white: ivory;


// fonts

$font-size-base: 16px;
$font-size-small: 14px;